body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1771px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4873 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:813px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4874 {
  position:absolute;
  left:50px;
  top:50px;
  width:1280px;
  height:813px;
}
#u4875 {
  position:absolute;
  left:2px;
  top:398px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4876 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4877 {
  position:absolute;
  left:50px;
  top:50px;
  width:1280px;
  height:50px;
  color:#FFFFFF;
}
#u4878 {
  position:absolute;
  left:2px;
  top:17px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:26px;
}
#u4879 {
  position:absolute;
  left:68px;
  top:64px;
  width:103px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4880 {
  position:absolute;
  left:2px;
  top:4px;
  width:99px;
  word-wrap:break-word;
}
#u4881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4881 {
  position:absolute;
  left:178px;
  top:64px;
  width:146px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4882 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u4883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4883 {
  position:absolute;
  left:1084px;
  top:66px;
  width:110px;
  height:20px;
  color:#FFFFFF;
}
#u4884 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u4885 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4886 {
  position:absolute;
  left:1225px;
  top:66px;
  width:29px;
  height:20px;
  color:#FFFFFF;
}
#u4887 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u4888 {
  position:absolute;
  left:1206px;
  top:66px;
  width:15px;
  height:17px;
  color:#FFFFFF;
}
#u4889 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4890 {
  position:absolute;
  left:1282px;
  top:66px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4891 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:765px;
}
#u4892 {
  position:absolute;
  left:211px;
  top:99px;
  width:1px;
  height:764px;
}
#u4893 {
  position:absolute;
  left:2px;
  top:374px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4894 {
  position:absolute;
  left:50px;
  top:99px;
  width:167px;
  height:630px;
}
#u4895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:25px;
}
#u4895 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u4895_img.mouseOver {
}
#u4895.mouseOver {
}
#u4896 {
  position:absolute;
  left:2px;
  top:4px;
  width:158px;
  word-wrap:break-word;
}
#u4897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:25px;
}
#u4897 {
  position:absolute;
  left:0px;
  top:25px;
  width:162px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u4897_img.mouseOver {
}
#u4897.mouseOver {
}
#u4898 {
  position:absolute;
  left:2px;
  top:4px;
  width:158px;
  word-wrap:break-word;
}
#u4899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:25px;
}
#u4899 {
  position:absolute;
  left:0px;
  top:50px;
  width:162px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u4899_img.mouseOver {
}
#u4899.mouseOver {
}
#u4900 {
  position:absolute;
  left:2px;
  top:4px;
  width:158px;
  word-wrap:break-word;
}
#u4901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:25px;
}
#u4901 {
  position:absolute;
  left:0px;
  top:75px;
  width:162px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u4901_img.mouseOver {
}
#u4901.mouseOver {
}
#u4902 {
  position:absolute;
  left:2px;
  top:4px;
  width:158px;
  word-wrap:break-word;
}
#u4903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:25px;
}
#u4903 {
  position:absolute;
  left:0px;
  top:100px;
  width:162px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u4903_img.mouseOver {
}
#u4903.mouseOver {
}
#u4904 {
  position:absolute;
  left:2px;
  top:4px;
  width:158px;
  word-wrap:break-word;
}
#u4905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:25px;
}
#u4905 {
  position:absolute;
  left:0px;
  top:125px;
  width:162px;
  height:25px;
  font-size:12px;
  text-align:left;
}
#u4905_img.mouseOver {
}
#u4905.mouseOver {
}
#u4906 {
  position:absolute;
  left:2px;
  top:4px;
  width:158px;
  word-wrap:break-word;
}
#u4907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:25px;
}
#u4907 {
  position:absolute;
  left:0px;
  top:150px;
  width:162px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u4907_img.mouseOver {
}
#u4907.mouseOver {
}
#u4908 {
  position:absolute;
  left:2px;
  top:4px;
  width:158px;
  word-wrap:break-word;
}
#u4909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:25px;
}
#u4909 {
  position:absolute;
  left:0px;
  top:175px;
  width:162px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u4909_img.mouseOver {
}
#u4909.mouseOver {
}
#u4910 {
  position:absolute;
  left:2px;
  top:4px;
  width:158px;
  word-wrap:break-word;
}
#u4911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:25px;
}
#u4911 {
  position:absolute;
  left:0px;
  top:200px;
  width:162px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
  text-align:left;
}
#u4911_img.mouseOver {
}
#u4911.mouseOver {
}
#u4912 {
  position:absolute;
  left:20px;
  top:4px;
  width:140px;
  word-wrap:break-word;
}
#u4913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:25px;
}
#u4913 {
  position:absolute;
  left:0px;
  top:225px;
  width:162px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u4913_img.mouseOver {
}
#u4913.mouseOver {
}
#u4914 {
  position:absolute;
  left:20px;
  top:4px;
  width:140px;
  word-wrap:break-word;
}
#u4915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:25px;
}
#u4915 {
  position:absolute;
  left:0px;
  top:250px;
  width:162px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u4915_img.mouseOver {
}
#u4915.mouseOver {
}
#u4916 {
  position:absolute;
  left:2px;
  top:4px;
  width:158px;
  word-wrap:break-word;
}
#u4917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:25px;
}
#u4917 {
  position:absolute;
  left:0px;
  top:275px;
  width:162px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u4917_img.mouseOver {
}
#u4917.mouseOver {
}
#u4918 {
  position:absolute;
  left:2px;
  top:4px;
  width:158px;
  word-wrap:break-word;
}
#u4919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:25px;
}
#u4919 {
  position:absolute;
  left:0px;
  top:300px;
  width:162px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u4919_img.mouseOver {
}
#u4919.mouseOver {
}
#u4920 {
  position:absolute;
  left:2px;
  top:4px;
  width:158px;
  word-wrap:break-word;
}
#u4921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:25px;
}
#u4921 {
  position:absolute;
  left:0px;
  top:325px;
  width:162px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u4921_img.mouseOver {
}
#u4921.mouseOver {
}
#u4922 {
  position:absolute;
  left:2px;
  top:4px;
  width:158px;
  word-wrap:break-word;
}
#u4923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:25px;
}
#u4923 {
  position:absolute;
  left:0px;
  top:350px;
  width:162px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u4923_img.mouseOver {
}
#u4923.mouseOver {
}
#u4924 {
  position:absolute;
  left:20px;
  top:4px;
  width:140px;
  word-wrap:break-word;
}
#u4925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:25px;
}
#u4925 {
  position:absolute;
  left:0px;
  top:375px;
  width:162px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u4925_img.mouseOver {
}
#u4925.mouseOver {
}
#u4926 {
  position:absolute;
  left:50px;
  top:4px;
  width:110px;
  word-wrap:break-word;
}
#u4927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:25px;
}
#u4927 {
  position:absolute;
  left:0px;
  top:400px;
  width:162px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u4927_img.mouseOver {
}
#u4927.mouseOver {
}
#u4928 {
  position:absolute;
  left:50px;
  top:4px;
  width:110px;
  word-wrap:break-word;
}
#u4929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:25px;
}
#u4929 {
  position:absolute;
  left:0px;
  top:425px;
  width:162px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u4929_img.mouseOver {
}
#u4929.mouseOver {
}
#u4930 {
  position:absolute;
  left:50px;
  top:4px;
  width:110px;
  word-wrap:break-word;
}
#u4931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:25px;
}
#u4931 {
  position:absolute;
  left:0px;
  top:450px;
  width:162px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u4931_img.mouseOver {
}
#u4931.mouseOver {
}
#u4932 {
  position:absolute;
  left:50px;
  top:4px;
  width:110px;
  word-wrap:break-word;
}
#u4933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:25px;
}
#u4933 {
  position:absolute;
  left:0px;
  top:475px;
  width:162px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u4933_img.mouseOver {
}
#u4933.mouseOver {
}
#u4934 {
  position:absolute;
  left:20px;
  top:4px;
  width:140px;
  word-wrap:break-word;
}
#u4935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:25px;
}
#u4935 {
  position:absolute;
  left:0px;
  top:500px;
  width:162px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u4935_img.mouseOver {
}
#u4935.mouseOver {
}
#u4936 {
  position:absolute;
  left:50px;
  top:4px;
  width:110px;
  word-wrap:break-word;
}
#u4937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:25px;
}
#u4937 {
  position:absolute;
  left:0px;
  top:525px;
  width:162px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u4937_img.mouseOver {
}
#u4937.mouseOver {
}
#u4938 {
  position:absolute;
  left:50px;
  top:4px;
  width:110px;
  word-wrap:break-word;
}
#u4939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:25px;
}
#u4939 {
  position:absolute;
  left:0px;
  top:550px;
  width:162px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u4939_img.mouseOver {
}
#u4939.mouseOver {
}
#u4940 {
  position:absolute;
  left:50px;
  top:4px;
  width:110px;
  word-wrap:break-word;
}
#u4941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:25px;
}
#u4941 {
  position:absolute;
  left:0px;
  top:575px;
  width:162px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u4941_img.mouseOver {
}
#u4941.mouseOver {
}
#u4942 {
  position:absolute;
  left:50px;
  top:4px;
  width:110px;
  word-wrap:break-word;
}
#u4943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:25px;
}
#u4943 {
  position:absolute;
  left:0px;
  top:600px;
  width:162px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u4943_img.mouseOver {
}
#u4943.mouseOver {
}
#u4944 {
  position:absolute;
  left:20px;
  top:4px;
  width:140px;
  word-wrap:break-word;
}
#u4945 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u4946 {
  position:absolute;
  left:258px;
  top:112px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u4947 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4948 {
  position:absolute;
  left:234px;
  top:113px;
  width:20px;
  height:20px;
  font-size:14px;
}
#u4948_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4948.mouseOver {
}
#u4949 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u4950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4950 {
  position:absolute;
  left:274px;
  top:179px;
  width:220px;
  height:20px;
}
#u4951 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u4952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4952 {
  position:absolute;
  left:288px;
  top:268px;
  width:211px;
  height:20px;
}
#u4953 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u4954 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4955 {
  position:absolute;
  left:302px;
  top:313px;
  width:43px;
  height:20px;
}
#u4956 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4957 {
  position:absolute;
  left:345px;
  top:314px;
  width:300px;
  height:54px;
  color:#000000;
}
#u4958 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u4959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4959 {
  position:absolute;
  left:344px;
  top:736px;
  width:70px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4959_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4959.mouseOver {
}
#u4960 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u4961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4961 {
  position:absolute;
  left:302px;
  top:393px;
  width:57px;
  height:20px;
}
#u4962 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4963 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4964 {
  position:absolute;
  left:260px;
  top:550px;
  width:85px;
  height:20px;
}
#u4965 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:72px;
}
#u4966 {
  position:absolute;
  left:344px;
  top:550px;
  width:95px;
  height:72px;
}
#u4967 {
  position:absolute;
  left:2px;
  top:28px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4968 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4969 {
  position:absolute;
  left:302px;
  top:437px;
  width:43px;
  height:20px;
}
#u4970 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4971 {
  position:absolute;
  left:345px;
  top:437px;
  width:34px;
  height:20px;
}
#u4972 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u4973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4973 {
  position:absolute;
  left:628px;
  top:437px;
  width:42px;
  height:20px;
}
#u4974 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u4975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:87px;
}
#u4975 {
  position:absolute;
  left:393px;
  top:438px;
  width:125px;
  height:87px;
}
#u4976 {
  position:absolute;
  left:2px;
  top:36px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:70px;
}
#u4977 {
  position:absolute;
  left:677px;
  top:440px;
  width:252px;
  height:70px;
}
#u4978 {
  position:absolute;
  left:2px;
  top:27px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4979 {
  position:absolute;
  left:1350px;
  top:105px;
  width:121px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4980 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u4981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4981 {
  position:absolute;
  left:1350px;
  top:152px;
  width:421px;
  height:20px;
  font-size:14px;
}
#u4982 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  word-wrap:break-word;
}
#u4983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4983 {
  position:absolute;
  left:305px;
  top:224px;
  width:240px;
  height:20px;
}
#u4984 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  white-space:nowrap;
}
#u4985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4985 {
  position:absolute;
  left:299px;
  top:647px;
  width:85px;
  height:20px;
}
#u4986 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4987 {
  position:absolute;
  left:285px;
  top:691px;
  width:205px;
  height:20px;
}
#u4988 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
